{{define "login"}}
<!DOCTYPE html>
<html>

<head>
	{{template "_header"}}
</head>

<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Cashier App</h3>
					<h3>{{.title}}</h3>
					<div class="d-flex justify-content-end social_icon">
						<span><i class="fab fa-google-plus-square"></i></span>
					</div>
				</div>
				<div class="card-body">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input id="username" type="text" class="form-control" placeholder="username">

						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input id="password" type="password" class="form-control" placeholder="password">
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="form-group">
							<input type="submit" onclick="loginAction()" value="Login" class="btn float-right login_btn">
						</div>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Don't have an account?<a href="#">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		const loginAction = async () => {
			const username = document.getElementById('username').value;
			const password = document.getElementById('password').value;

			if (username === '' || password === '') {
				alert('Please fill in all fields (username and password)');
				return;
			}

			const response = await fetch('http://localhost:8080/api/user/login?username=' + username + '&password=' + password, {
				method: 'GET'
			});
			const myJson = await response.json(); //extract JSON from the http response
			// set cookie:
			document.cookie = "token=" + myJson.token;
			// navigate to Dashboard page
			window.location.replace("http://localhost:9000/dashboard");
		}
	</script>
</body>

</html>
{{end}}