$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhiteTwo: hsla(0, 0%, 100%, 0.6);
$primaryFont: 'Inter', sans-serif;
$secondaryFont: 'Lexend Deca', sans-serif;
$fontSize: 15px;
