<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}}</title>
    </head>
    <body>
        <table>
            <tr>
              <th>Table ID</th>
              <th>Jenis Meja</th>
              <th>Warna</th>
              <th>Jumlah Meja</th>
            </tr>
            <tr>
                <td>{{.table.ID}}</td>
                <td>{{.table.Type}}</td>
                <td>{{.table.Color}}</td>
                <td>{{.table.Total}}</td>
            </tr>
        </table>
    </body>
</html>
