* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f5f8;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #0a3158;
  font-size: 4rem;
}

#random-quote {
  font-size: 1.5rem;
}

.author, #source{
  color: grey;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}